
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 11px;
}

table{
    border-collapse:collapse;
    width: 100%;
    margin: 3px;
}

thead{
    color:white;
    background-color: var(--primary-color);
}

th,td{
    text-align:center;
    padding: 5px;
   
}

tbody tr:nth-child(even){
    background:#e6e6ff;
}

@media(min-width: 900px){
    .content{
        font-size: 19px;
        width: 70vw;
        margin: 0 auto;
    }
    
}

